<!DOCTYPE html>
<html>
    
<head>
    <meta charset="utf-8">
    <title>Login Form Tutorial</title>
    <link href="css/login.css" rel="stylesheet">

</head>


<body background="css/images/background.jpg">
    
    <div class="login-form">
        <h1>Login Form</h1>
        <form action="login" method="POST">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="submit" a href="/VLog.html">
        </form>
        <p><a href="Register" class="button">Burtguuleh </a></p>
        </div>
        
</body>

</html>